out
node_modules
server/*.js
server/node_modules
*.vsix
dist
.DS_Store
.vscode/settings.json
.vscode-test
.gradle
gradle-local.properties
results/
test-app/.gradle
test-app/build
test-app/docker

test-app/src/main/ml-modules/root/MarkLogic
