.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
**/node_modules
node_modules
server/test/**
server/out/**
client/test/**
client/out/**
**/*.ts
**/*webpack.config.js
